
CREATE PROCEDURE [dbo].[DELETE_PEDIDO_DETALLE]
@ID_PEDIDO  VARCHAR (500)
AS 
DELETE FROM OPE_DETALLE_PEDIDO WHERE ID_PEDIDO = @ID_PEDIDO
GO
/****** Object:  StoredProcedure [dbo].[DELETECOTIZACION]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETECOTIZACION] 
@ID_COTIZACION VARCHAR(500)
AS 
DELETE FROM OPE_DETALLE_COTIZACION WHERE ID_COTIZACION =@ID_COTIZACION
GO
/****** Object:  StoredProcedure [dbo].[GET_COT_VENDOR]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_COT_VENDOR]

 @CDG_VENDEDOR  VARCHAR(15)
  AS
  SELECT  A.ID_COTIZACION ,A.FECHA_COTIZACION , A.NUMERO_COTIZACION,
  (SELECT TOP 1 CLI.NOMBRE FROM OPE_PERSONA AS CLI WHERE CLI.ID_PERSONA = A.ID_CLIENTE) PERSONA, 
  (SELECT TOP 1 CLI.RUC FROM OPE_PERSONA AS CLI WHERE CLI.ID_PERSONA = A.ID_CLIENTE) RUC, 
  (SELECT TOP 1 TDOC.NOMBRE FROM OPE_DETALLE_TABLA AS TDOC, OPE_PERSONA P WHERE TDOC.CODIGO='TIPO_IDEN'AND TDOC.NUMERO =P.TIPO_DOCUMENTO AND P.ID_PERSONA = A.ID_CLIENTE) DOCUMENTO,
  (SELECT TOP 1 TMON.REFERENCIA1 FROM OPE_DETALLE_TABLA AS TMON, OPE_PERSONA P WHERE TMON.CODIGO='MONEDA'AND TMON.NUMERO =A.CODIGO_MONEDA) MON,
  A.IMPORTE_DESCUENTO,
  A.IMPORTE_IGV, 
  A.IMPORTE_TOTAL ,
  (SELECT TOP 1 TPED.NOMBRE FROM OPE_DETALLE_TABLA AS TPED, OPE_PERSONA P 
WHERE TPED.CODIGO='ESTA_COVE' 
AND TPED.NUMERO =A.ESTADO) ESTADO 
  FROM 
  OPE_COTIZACION_VENTA A
  WHERE  A.CODIGO_VENDEDOR_ASIGNADO= @CDG_VENDEDOR 
  ORDER BY A.FECHA_COTIZACION 
GO
/****** Object:  StoredProcedure [dbo].[GET_COTIZACION_ID]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE        PROCEDURE [dbo].[GET_COTIZACION_ID]

@ID_COTIZACION  VARCHAR(100)
AS 
 select ID_COTIZACION,CODIGO_VENDEDOR,CODIGO_VENDEDOR_ASIGNADO,
          CODIGO_CPAGO,NUMERO_COTIZACION,
          CODIGO_MONEDA ,
          NUMERO_OCLIENTE,
          IMPORTE_STOT ,
          IMPORTE_DESCUENTO ,
          VALOR_VENTA,
          IMPORTE_IGV ,
          IMPORTE_TOTAL,
          PORCENTAJE_DESCUENTO,
          PORCENTAJE_IGV,
          ID_CLIENTE,
          ID_CLIENTE_FACTURA,
          IMPORTE_ISC,
          CONTACTO,
          EMAIL_CONTACTO,
          USUARIO_MODIFICACION,
          FECHA_MODIFICACION,
          CODIGO_EMPRESA,
          TIPO_FECHA_ENTREGA,
          DIAS_ENTREGA,
          FECHA_ENTREGA,
          LUGAR_ENTREGA,
          COMISION,
          REDONDEO,
          VALIDEZ,
          MOTIVO,
          CORRELATIVO,
          CENTRO_COSTO,
          TIPO_CAMBIO,
          TELEFONOS,
          OBSERVACION,
          SUCURSAL,
          TIPO_ENTREGA,
          DIAS_ENTREGA2,
          OBSERVACION2,
		  CODIGO_SUCURSAL,
		  FECHA_COTIZACION, (SELECT TOP 1 NOMBRE FROM OPE_DETALLE_TABLA DTAMON WHERE CODIGO ='MONEDA' AND DTAMON.NUMERO =A.CODIGO_MONEDA) NOM_MON,
		  (SELECT TOP 1 REFERENCIA1 FROM OPE_DETALLE_TABLA DTAMON WHERE CODIGO ='MONEDA' AND DTAMON.NUMERO =A.CODIGO_MONEDA) SMB_MON,
		  (SELECT TOP 1 NOMBRE FROM OPE_DETALLE_TABLA DTACOND WHERE CODIGO ='COND_PAGO' AND DTACOND.NUMERO =A.CODIGO_CPAGO) COND_PAGO,
		  (SELECT TOP 1 NOMBRE FROM OPE_DETALLE_TABLA FRECD WHERE CODIGO ='FREC_DIAS' AND FRECD.NUMERO =A.VALIDEZ) FREC_DIAS,
		  (SELECT TOP 1 NOMBRE FROM OPE_PERSONA PP WHERE PP.ID_PERSONA =A.ID_CLIENTE )PERSONA,
		  (SELECT TOP 1 RUC FROM OPE_PERSONA PR WHERE PR.ID_PERSONA =A.ID_CLIENTE )RUC
		  from OPE_COTIZACION_VENTA A WHERE ID_COTIZACION = @ID_COTIZACION
GO
/****** Object:  StoredProcedure [dbo].[GET_DETALLE_COTIZACION]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[GET_DETALLE_COTIZACION]

@ID_COTIZACION VARCHAR(100)
AS
SELECT ID_COTIZACION,
ID_PRODUCTO,(SELECT TOP 1 NOMBRE FROM OPE_PRODUCTO PR WHERE PR.ID_PRODUCTO = DC.ID_PRODUCTO ) Nombre,(SELECT TOP 1 CODIGO_BARRA FROM OPE_PRODUCTO PR WHERE PR.ID_PRODUCTO = DC.ID_PRODUCTO ) CODIGO_BARRA,
CANTIDAD,
PRECIO,
DESCUENTO,
IGV,
IMPORTE,
OBSERVACION,
SECUENCIA,
PRECIO_ORIGINAL,
TIPO,
IMPORTE_DSCTO,
COMISION,
AFECTO_IGV,
ID_PRESUPUESTO,
CDG_SERV,
OBSERVACION2,
UNIDAD, (SELECT TOP 1 NOMBRE FROM OPE_DETALLE_TABLA DTU WHERE DTU.CODIGO = 'UNID_MEDI' AND DTU.NUMERO = DC.UNIDAD ) NOM_UNIDAD FROM OPE_DETALLE_COTIZACION DC WHERE ID_COTIZACION = @ID_COTIZACION












GO
/****** Object:  StoredProcedure [dbo].[GET_DETALLE_PEDIDO_ID]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_DETALLE_PEDIDO_ID]
@ID_PEDIDO VARCHAR(500)
AS 
SELECT ID_PEDIDO
      ,ID_PRODUCTO, 
	  (SELECT TOP 1 NOMBRE FROM OPE_PRODUCTO PR WHERE PR.ID_PRODUCTO = PED.ID_PRODUCTO)Nombre,
	  (SELECT TOP 1 CODIGO_BARRA FROM OPE_PRODUCTO PR WHERE PR.ID_PRODUCTO = PED.ID_PRODUCTO ) CODIGO_BARRA
      ,CANTIDAD
      ,PRECIO
      ,DESCUENTO
      ,IGV
      ,IMPORTE
      ,CANT_DESPACHADA
      ,CANT_FACTURADA
      ,OBSERVACION
      ,SECUENCIA
      ,PRECIO_ORIGINAL
      ,TIPO
      ,IMPORTE_DSCTO
      ,AFECTO_IGV
      ,COMISION
      ,ID_PRESUPUESTO
      ,CDG_SERV
      ,FLAG_C
      ,FLAG_P
      ,FLAG_COLOR
      ,COMANDA
      ,MOZO
      ,UNIDAD
	  , (SELECT TOP 1 NOMBRE FROM OPE_DETALLE_TABLA DTU WHERE DTU.CODIGO = 'UNID_MEDI' AND DTU.NUMERO = PED.UNIDAD ) NOM_UNIDAD
      ,POR_PERCEPCION
      ,PERCEPCION
      ,VALOR_VEN
      ,UNID_VEN
      ,FECHA_VEN
      ,FACTOR_CONVERSION
      ,CDG_KIT
      ,SWT_PIGV
      ,SWT_PROM
      ,CANT_KIT
      ,SWT_DCOM
      ,SWT_SABOR
      ,SWT_FREE
      ,NOM_IMP
      ,SEC_PROD
      ,POR_DETRACCION
      ,DETRACCION
      ,USUARIO_ANULA
      ,FECHA_ANULA
      ,MARGEN
      ,IMPORTE_MARGEN
      ,COSTO_ADIC
  FROM OPE_DETALLE_PEDIDO PED WHERE ID_PEDIDO = @ID_PEDIDO
GO
/****** Object:  StoredProcedure [dbo].[Get_imgHeadFoot]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Get_imgHeadFoot]
as 
begin

select IMAGEN_HEADER, IMAGEN_FOOTER from OPE_EMPRESA
 end
GO
/****** Object:  StoredProcedure [dbo].[GET_ORDER_VENDOR]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_ORDER_VENDOR]

@CDG_VENDOR INT 
AS
   SELECT 
 PED.ID_PEDIDO, PED.FECHA_PEDIDO, CLI.NOMBRE, CLI.RUC, CLIDOC.NOMBRE, MONPED.REFERENCIA1
  FROM  OPE_PEDIDO PED
  INNER JOIN OPE_PERSONA CLI
  INNER JOIN OPE_DETALLE_TABLA CLIDOC ON CLIDOC.CODIGO='TIPO_IDEN' 
  LEFT  JOIN OPE_DETALLE_TABLA MONPED ON MONPED.CODIGO='MONEDA'
  LEFT JOIN OPE_DETALLE_TABLA TPED ON TPED.CODIGO='ESTA_ORPE' ON  
  PED.CODIGO_VENDEDOR=@CDG_VENDOR    
GO
/****** Object:  StoredProcedure [dbo].[GET_PEDIDO_ID]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_PEDIDO_ID]
@ID_PEDIDO VARCHAR(500)
AS


SELECT ID_PEDIDO
      ,NUMERO_PEDIDO
      ,CODIGO_VENDEDOR
      ,CODIGO_CPAGO
      ,CODIGO_MONEDA
      ,FECHA_PEDIDO
      ,NUMERO_OCLIENTE
      ,IMPORTE_STOT
      ,VALOR_VENTA
      ,IMPORTE_IGV
      ,IMPORTE_DESCUENTO
      ,IMPORTE_TOTAL
      ,PORCENTAJE_DESCUENTO
      ,PORCENTAJE_IGV
      ,OBSERVACION
      ,ESTADO
      ,ID_CLIENTE
      ,IMPORTE_ISC
      ,USUARIO_CREACION
      ,FECHA_CREACION
      ,USUARIO_MODIFICACION
      ,FECHA_MODIFICACION
      ,CODIGO_EMPRESA
      ,CODIGO_SUCURSAL
      ,ID_CLIENTE_FACTURA
      ,CODIGO_VENDEDOR_ASIGNADO
      ,FECHA_PROGRAMADA
      ,FACTURA_ADELANTADA
      ,CONTACTO
      ,EMAIL_CONTACTO
      ,USUARIO_AUTORIZA
      ,FECHA_AUTORIZACION
      ,LUGAR_ENTREGA
      ,ID_COTIZACION
      ,ESTADO_FACTURA
      ,COMISION
      ,PUNTO_VENTA
      ,REDONDEO
      ,VALIDEZ
      ,MOTIVO
      ,CORRELATIVO
      ,CENTRO_COSTO
      ,TIPO_CAMBIO
      ,SUCURSAL
      ,COSTO
      ,ID_OPORTUNIDAD
      ,VAL_PERCEPCION
      ,TIPO_DOCUMENTO
      ,FECHA_PROGRAMADA_ENTREGA
      ,OBSERVACION2
      ,PAX
      ,MESA
      ,PISO
      ,SWT_ESTA
      ,DELIVERY
      ,CDG_MENSAJERO
      ,FECHA_FINALIZACION
      ,INICIAL
      ,FECHA_INICIO
      ,FECHA_VENC
      ,SINICIAL
      ,TIPO_DSCTO
      ,ICBPER
      ,SWT_PD
      ,NUMPAIN
      ,ID_PROYECTO
      ,PORCENTAJE_INICIAL
      ,TIPO_CONTRATO
      ,PUNTOS
      ,PRECIO_PUNTO
      ,PRIMER_ANO_USO
      ,CALENDARIO
      ,MONTO_INICIAL_HOY
      ,PORCENTAJE_INICIAL_HOY
      ,FORMA_DE_PAGO_1_INICIAL_HOY
      ,FP_GA
      ,MONTO_GA
      ,VENC_GA
      ,BANCO_GA
      ,REF_GA
      ,FECHA_PROCESABLE
      ,ESTATUS
      ,CANTIDAD_ANO_CONTRATO
      ,MONTO_A_FINANCIAR
      ,PORCENTAJE_MONTO_FINANCIAR
      ,NUM_CUOTA_FINANCIAR
      ,PORCENTAJE_INTERES_MENSUAL
      ,MONTO_CUOTA_MENSUAL
      ,VENC_PRIMERA_CUOTA
      ,SWT_WEB
      ,CDG_SCECO
      ,IdOrder
      ,OrderGuid
      ,CustomerId
      ,OrdeStatus
      ,PaymentStatusId
      ,PaymentMethodSystemName
      ,OrderTotal
      ,CreatedOnUtc
      ,PaidDateUtc
      ,CustomerIp
      ,PaymentMethodAdditionalFeeInclTax
      ,PaymentMethodAdditionalFeeExclTax, (SELECT TOP 1 NOMBRE FROM OPE_DETALLE_TABLA DTAMON WHERE CODIGO ='MONEDA' AND DTAMON.NUMERO =PED.CODIGO_MONEDA) NOM_MON,
		  (SELECT TOP 1 REFERENCIA1 FROM OPE_DETALLE_TABLA DTAMON WHERE CODIGO ='MONEDA' AND DTAMON.NUMERO =PED.CODIGO_MONEDA) SMB_MON,
		  (SELECT TOP 1 NOMBRE FROM OPE_DETALLE_TABLA DTACOND WHERE CODIGO ='COND_PAGO' AND DTACOND.NUMERO =PED.CODIGO_CPAGO) COND_PAGO,
		  (SELECT TOP 1 NOMBRE FROM OPE_DETALLE_TABLA FRECD WHERE CODIGO ='FREC_DIAS' AND FRECD.NUMERO =PED.VALIDEZ) FREC_DIAS,
		  (SELECT TOP 1 NOMBRE FROM OPE_PERSONA PP WHERE PP.ID_PERSONA =PED.ID_CLIENTE )PERSONA,
		  (SELECT TOP 1 RUC FROM OPE_PERSONA PR WHERE PR.ID_PERSONA =PED.ID_CLIENTE )RUC
  FROM OPE_PEDIDO  PED WHERE ID_PEDIDO = @ID_PEDIDO
GO
/****** Object:  StoredProcedure [dbo].[GetDataCotiacionDetalleID]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[GetDataCotiacionDetalleID]
@ID_COTIZACION    INTEGER
 AS  
  SELECT 
   A.ID_COTIZACION,
   A.ID_PRODUCTO,
   B.CODIGO CODIGO,
   B.CODIGO_BARRA,
    B.NOMBRE    NOMBRE,
   A.CANTIDAD,
     A.UNIDAD  ID_UNIDAD,
   (SELECT TU.NOMBRE  FROM OPE_DETALLE_TABLA TU WHERE TU.CODIGO='UNID_MEDI' AND TU.NUMERO =A.UNIDAD) UNIDAD,
   A.PRECIO,
   A.DESCUENTO,
   A.IMPORTE,
   A.OBSERVACION,
   A.SECUENCIA ,
   A.IGV,
   A.PRECIO_ORIGINAL,
   A.TIPO,
   A.AFECTO_IGV,
   A.IMPORTE_DSCTO,
   A.COMISION,
  A.FACTOR_CONVERSION,
    A.CDG_KIT,
	A.SWT_PIGV ,
	 A.CANT_KIT,
 	A.POR_DETRACCION,
	A.DETRACCION  ,
	A.MARGEN,A.IMPORTE_MARGEN,A.COSTO_ADIC

  FROM OPE_DETALLE_COTIZACION A,OPE_PRODUCTO B
  WHERE  
  A.ID_PRODUCTO=B.ID_PRODUCTO AND 
  A.ID_COTIZACION=@ID_COTIZACION AND A.TIPO<>'P'
  ORDER BY A.SECUENCIA ASC 
GO
/****** Object:  StoredProcedure [dbo].[GetDataCotizacionID]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[GetDataCotizacionID]
  @ID_COTIZACION   NUMERIC(10,0)
  AS
  SELECT 
  A.ID_COTIZACION ,A.FECHA_COTIZACION ,LTRIM((ISNULL(B.APELLIDO_PATERNO,'') +' '+ISNULL(B.APELLIDO_MATERNO,'') +' '+ B.NOMBRE)) PERSONA,b.RUC, a.MOTIVO,(SELECT B.TELEFONO WHERE B.ID_PERSONA=A.ID_CLIENTE) TELEFONO, A.NUMERO_COTIZACION, (SELECT B.DIRECCION WHERE B.ID_PERSONA=A.ID_CLIENTE)DIRECCION,
  A.CODIGO_MONEDA ,(SELECT TMON.NOMBRE WHERE TMON.NUMERO =  A.CODIGO_MONEDA) NOM_MONEDA,TMON.REFERENCIA1 MON,A.IMPORTE_STOT  ,A.IMPORTE_DESCUENTO , A.VALOR_VENTA ,  A.IMPORTE_IGV ,  A.IMPORTE_TOTAL ,  
  A.ESTADO  , A.CODIGO_CPAGO , A.LUGAR_ENTREGA ,A.OBSERVACION,
  (SELECT DTCP.NOMBRE FROM OPE_DETALLE_TABLA DTCP  WHERE DTCP.CODIGO='COND_PAGO' AND DTCP.NUMERO = A.CODIGO_CPAGO)CONDICION_PAGO
  FROM 
  OPE_COTIZACION_VENTA A,OPE_PERSONA B,OPE_DETALLE_TABLA TMON,OPE_DETALLE_TABLA TPED,OPE_DETALLE_TABLA TCOP
  WHERE
  A.ID_CLIENTE =B.ID_PERSONA AND A.CODIGO_MONEDA =TMON.NUMERO AND TMON.CODIGO ='MONEDA' AND
  TCOP.CODIGO='COND_PAGO' AND TCOP.NUMERO =A.CODIGO_CPAGO AND  
  A.ESTADO =TPED.NUMERO AND TPED.CODIGO ='ESTA_ORPE' AND A.ID_COTIZACION =  @ID_COTIZACION
GO
/****** Object:  StoredProcedure [dbo].[GetDataListaPrecio]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[GetDataListaPrecio]
 AS  
  SELECT 
  A.CODIGO,A.NOMBRE, A.MONEDA
  FROM OPE_CLISTA_PRECIO  A  
  WHERE 
  A.ESTADO ='1'
GO
/****** Object:  StoredProcedure [dbo].[GetDataMaestro]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[GetDataMaestro]
@CODIGO  VARCHAR(15)
 AS  
  SELECT 
  A.NUMERO ,A.NOMBRE , A.REFERENCIA1
  FROM OPE_DETALLE_TABLA  A  
  WHERE 
  A.CODIGO =@CODIGO
  ORDER BY 2 ASC
GO
/****** Object:  StoredProcedure [dbo].[GetDataMaestro_distrito]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[GetDataMaestro_distrito]
@CODIGO  VARCHAR(20),
@CODIGO_DEPA VARCHAR (20),
@CODIGO_PROVINCIA VARCHAR (20)
 AS  
  SELECT 
  A.NUMERO ,A.NOMBRE 
  FROM OPE_DETALLE_TABLA  A  
  WHERE 
  A.CODIGO =@CODIGO and A.REFERENCIA2 = @CODIGO_DEPA and a.REFERENCIA3 = @CODIGO_PROVINCIA
GO
/****** Object:  StoredProcedure [dbo].[GetDataMaestro_Provincia]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[GetDataMaestro_Provincia]
@CODIGO  VARCHAR(20),
@CODIGO_DEPA VARCHAR (20)
 AS  
  SELECT 
  A.NUMERO ,A.NOMBRE 
  FROM OPE_DETALLE_TABLA  A  
  WHERE 
  A.CODIGO =@CODIGO and A.REFERENCIA2 = @CODIGO_DEPA
  ORDER BY 2 ASC

GO
/****** Object:  StoredProcedure [dbo].[GetDataPedido]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[GetDataPedido]
  @CDG_VENDEDOR  VARCHAR(15)
  AS
  SELECT  A.ID_PEDIDO ,A.FECHA_PEDIDO ,
  (SELECT TOP 1 CLI.NOMBRE FROM OPE_PERSONA AS CLI WHERE CLI.ID_PERSONA = A.ID_CLIENTE) PERSONA, 
  (SELECT TOP 1 CLI.RUC FROM OPE_PERSONA AS CLI WHERE CLI.ID_PERSONA = A.ID_CLIENTE) RUC, 
  (SELECT TOP 1 TDOC.NOMBRE FROM OPE_DETALLE_TABLA AS TDOC, OPE_PERSONA P WHERE TDOC.CODIGO='TIPO_IDEN'AND TDOC.NUMERO =P.TIPO_DOCUMENTO AND P.ID_PERSONA = A.ID_CLIENTE) DOCUMENTO,
  (SELECT TOP 1 TMON.REFERENCIA1 FROM OPE_DETALLE_TABLA AS TMON, OPE_PERSONA P WHERE TMON.CODIGO='MONEDA'AND TMON.NUMERO =A.CODIGO_MONEDA) MON,
  A.IMPORTE_DESCUENTO,
  A.IMPORTE_IGV, 
  A.IMPORTE_TOTAL ,
  (SELECT TOP 1 TPED.NOMBRE FROM OPE_DETALLE_TABLA AS TPED, OPE_PERSONA P 
WHERE TPED.CODIGO='ESTA_ORPE' 
AND TPED.NUMERO =A.ESTADO) ESTADO 
  FROM 
  OPE_PEDIDO A
  WHERE  A.CODIGO_VENDEDOR_ASIGNADO= @CDG_VENDEDOR 
  ORDER BY A.FECHA_PEDIDO DESC 
GO
/****** Object:  StoredProcedure [dbo].[GetDataPedidoDetalleID]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[GetDataPedidoDetalleID]
@ID_PEDIDO    INTEGER
 AS  
  SELECT 
   A.ID_PEDIDO,
   A.ID_PRODUCTO,
   B.CODIGO CODIGO,
   B.CODIGO_BARRA,
    B.NOMBRE    NOMBRE,
   A.CANTIDAD,
     A.UNIDAD  ID_UNIDAD,
   (SELECT TU.NOMBRE  FROM OPE_DETALLE_TABLA TU WHERE TU.CODIGO='UNID_MEDI' AND TU.NUMERO =A.UNIDAD) UNIDAD,
   A.PRECIO,
   A.DESCUENTO,
   A.IMPORTE,
   A.OBSERVACION,
   A.SECUENCIA ,
   A.IGV,
   A.PRECIO_ORIGINAL,
   A.TIPO,
   A.AFECTO_IGV,
   A.IMPORTE_DSCTO,
   A.COMISION,
  A.FACTOR_CONVERSION,
    A.CDG_KIT,
	A.SWT_PIGV ,
	A.SWT_PROM,
	 A.CANT_KIT,
  A.SWT_SABOR,
  A.SWT_DCOM,
  A.SWT_FREE,
	A.POR_DETRACCION,
	A.DETRACCION  ,
	A.MARGEN,A.IMPORTE_MARGEN,A.COSTO_ADIC

  FROM OPE_DETALLE_PEDIDO A,OPE_PRODUCTO B
  WHERE  
  A.ID_PRODUCTO=B.ID_PRODUCTO AND 
  A.ID_PEDIDO=@ID_PEDIDO AND A.TIPO<>'P'
  ORDER BY A.SECUENCIA ASC 
GO
/****** Object:  StoredProcedure [dbo].[GetDataPedidoID]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  CREATE PROCEDURE [dbo].[GetDataPedidoID]
  @ID_PEDIDO   NUMERIC(10,0)
  AS
  SELECT 
  A.ID_PEDIDO ,A.FECHA_PEDIDO ,LTRIM((ISNULL(B.APELLIDO_PATERNO,'') +' '+ISNULL(B.APELLIDO_MATERNO,'') +' '+ B.NOMBRE)) PERSONA,b.RUC, a.MOTIVO,(SELECT B.TELEFONO WHERE B.ID_PERSONA=A.ID_CLIENTE) TELEFONO, A.NUMERO_PEDIDO, (SELECT B.DIRECCION WHERE B.ID_PERSONA=A.ID_CLIENTE)DIRECCION,
  A.CODIGO_MONEDA ,(SELECT TMON.NOMBRE WHERE TMON.NUMERO =  A.CODIGO_MONEDA) NOM_MONEDA,TMON.REFERENCIA1 MON,A.IMPORTE_STOT  ,A.IMPORTE_DESCUENTO , A.VALOR_VENTA ,  A.IMPORTE_IGV ,  A.IMPORTE_TOTAL ,  
  A.ESTADO  , A.CODIGO_CPAGO , A.LUGAR_ENTREGA ,A.OBSERVACION,
  (SELECT DTCP.NOMBRE FROM OPE_DETALLE_TABLA DTCP  WHERE DTCP.CODIGO='COND_PAGO' AND DTCP.NUMERO = A.CODIGO_CPAGO)CONDICION_PAGO
  FROM 
  OPE_PEDIDO A,OPE_PERSONA B,OPE_DETALLE_TABLA TMON,OPE_DETALLE_TABLA TPED,OPE_DETALLE_TABLA TCOP
  WHERE
  A.ID_CLIENTE =B.ID_PERSONA AND A.CODIGO_MONEDA =TMON.NUMERO AND TMON.CODIGO ='MONEDA' AND
  TCOP.CODIGO='COND_PAGO' AND TCOP.NUMERO =A.CODIGO_CPAGO AND  
  A.ESTADO =TPED.NUMERO AND TPED.CODIGO ='ESTA_ORPE' AND A.ID_PEDIDO =@ID_PEDIDO
GO
/****** Object:  StoredProcedure [dbo].[GetDataPersona]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[GetDataPersona]
@TIPO  CHAR(4)
 AS  
  SELECT 
  A.ID_PERSONA,
  A.RUC,
  LTRIM(ISNULL(A.APELLIDO_PATERNO,'')+' '+ISNULL(A.APELLIDO_MATERNO,'')+' '+ A.NOMBRE) PERSONA,
  A.CONDICION_PAGO ,A.TIPO_CLIENTE ,A.VENDEDOR 
  FROM OPE_PERSONA A  
  WHERE 
  A.TIPO=@TIPO 
  ORDER BY 2 ASC 
GO
/****** Object:  StoredProcedure [dbo].[GetDataProductoID]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[GetDataProductoID]
@ID_PRODUCTO NUMERIC(10,0) 
 AS  
  SELECT 
  A.ID_PRODUCTO,A.CODIGO , A.CODIGO_BARRA,A.NOMBRE ,
  A.DESCRIPCION_EXTENDIDA ,
  A.AFECTO_IGV , A.BIEN_SERVICIO ,A.APLICA_IMPORTE_DETRACCION ,A.DETRACCION ,
  CASE 
  WHEN A.AFECTO_IGV='1' THEN '0001'
  WHEN A.AFECTO_IGV='E' THEN '0009'
  ELSE '0011' END TIPO_AFEC_IGV  

  FROM OPE_PRODUCTO   A   
  WHERE 
  A.ID_PRODUCTO =@ID_PRODUCTO 
GO
/****** Object:  StoredProcedure [dbo].[GetDataProductoVta]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE  PROCEDURE [dbo].[GetDataProductoVta]
---EXEC GetDataProductoVta LPR0000001,0001,3.55
@CDG_LISTA  VARCHAR(10),
@CDG_MONEDA NUMERIC(4,0),
@TIPO_CAMBIO NUMERIC(10,4)
 AS  
  SELECT 
  A.ID_PRODUCTO,A.CODIGO_BARRA,A.NOMBRE , A.CODIGO,
  (SELECT TMON.REFERENCIA1  FROM OPE_CLISTA_PRECIO B,OPE_DETALLE_TABLA TMON WHERE TMON.NUMERO=@CDG_MONEDA AND TMON.CODIGO='MONEDA') MON,   
  
  
  
  CASE WHEN @CDG_MONEDA = '0001' AND C.MONEDA ='0002'  THEN C.PRECIO_VENTA*@TIPO_CAMBIO
 WHEN @CDG_MONEDA = '0002' AND C.MONEDA ='0001'  THEN C.PRECIO_VENTA/@TIPO_CAMBIO
 WHEN @CDG_MONEDA =  C.MONEDA  THEN C.PRECIO_VENTA
 END  PRECIO_VENTA 
  
  
  
  
  , C.FACTOR_CONVERSION  ,
   CASE
  WHEN C.UNIDAD<>'' THEN 
  (SELECT TUN.NUMERO  FROM OPE_DETALLE_TABLA TUN WHERE TUN.CODIGO='UNID_MEDI' AND TUN.NUMERO=C.UNIDAD) 
  ELSE (SELECT TUN.NUMERO FROM OPE_DETALLE_TABLA TUN WHERE TUN.CODIGO='UNID_MEDI' AND TUN.NUMERO=A.ID_UNIDAD_VENTA )   END CDG_UNIDAD,
  CASE
  WHEN C.UNIDAD<>'' THEN 
  (SELECT TUN.NOMBRE  FROM OPE_DETALLE_TABLA TUN WHERE TUN.CODIGO='UNID_MEDI' AND TUN.NUMERO=C.UNIDAD) 
  ELSE (SELECT TUN.NOMBRE  FROM OPE_DETALLE_TABLA TUN WHERE TUN.CODIGO='UNID_MEDI' AND TUN.NUMERO=A.ID_UNIDAD_VENTA )   END UNIDAD,
  c.MONEDA MONEDA_LP

  FROM OPE_PRODUCTO   A  LEFT JOIN OPE_LISTA_PRECIO C ON A.ID_PRODUCTO =C.ID_PRODUCTO 
  WHERE 
  A.ESTADO ='1' AND A.VENTA='1' AND C.CODIGO =@CDG_LISTA
  ORDER BY 2 ASC 
GO
/****** Object:  StoredProcedure [dbo].[GetLoginUser]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLoginUser]
@USUARIO         VARCHAR(20),
@CONTRASENA  VARCHAR(100)
AS
SELECT 
A.CODIGO ,A.NOMBRE, A.CODIGO_EMPRESA , A.REFERENCIA3, (SELECT VALOR_COMERCIAL FROM OPE_TIPO_CAMBIO WHERE FECHA_REGISTRO = GETDATE())TIPO_CAMBIO
FROM OPE_USUARIO A
WHERE ISNULL(A.REFERENCIA33,'N')='S' AND A.REFERENCIA35 = @CONTRASENA AND CODIGO=@USUARIO  AND A.ESTADO ='1'
GO
/****** Object:  StoredProcedure [dbo].[InsertCotizacionVenta]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE        PROCEDURE [dbo].[InsertCotizacionVenta]
@ID_COTIZACION                       numeric(10),
@CODIGO_VENDEDOR                     varchar(10),
@CODIGO_VENDEDOR_ASIGNADO            varchar(10),
@CODIGO_CPAGO                        varchar(10),
@CODIGO_MONEDA                       varchar(10),
@NUMERO_OCLIENTE                     varchar(500),
@IMPORTE_STOT                        numeric(14,4),
@IMPORTE_DESCUENTO                   numeric(14,4),
@VALOR_VENTA                         numeric(14,4),
@IMPORTE_IGV                         numeric(14,4),
@IMPORTE_TOTAL                       numeric(14,4),
@PORCENTAJE_DESCUENTO                numeric(7,2),
@PORCENTAJE_IGV                      numeric(7,2),
@ID_CLIENTE                          numeric(10),
@ID_CLIENTE_FACTURA                  numeric(10),
@IMPORTE_ISC                         numeric(14,4),-- 0
@CONTACTO                            varchar(150),
@EMAIL_CONTACTO                      varchar(150),
@CODIGO_EMPRESA                      char(3),--001 
@CODIGO_SUCURSAL                     char(4),---0001
@TIPO_FECHA_ENTREGA                  char(1),
@DIAS_ENTREGA                        int,
@FECHA_ENTREGA                       datetime,
@LUGAR_ENTREGA                       VARCHAR(200),
@USUARIO                             varchar(20),
@COMISION                            numeric(7,2),
@REDONDEO                            char(1),--0
@VALIDEZ                             VARchar(5),
@MOTIVO                              VARchar(5),
@CORRELATIVO                         VARchar(30),--''
@CENTRO_COSTO                        VARchar(100),--''
@TIPO_CAMBIO                         NUMERIC(14,4), 
@NUMERO_COTIZACION                   VARCHAR(15),
@ID_COTIZACION_PARENT                NUMERIC(10),---0 
@VERSION                             CHAR(1),--'0'
@TIPO_OPERACION                      NUMERIC(5),--0
@REF1                                VARchar(70),--''
@OBSERVACION                         NTEXT,
@SUCURSAL                            VARCHAR(200),---''
@TIPO_COTI                           VARCHAR(5),--''
@TIPO_ENTREGA                        VARCHAR(5),
@DIAS_ENTREGA2                        int,
@OBSERVACION2                        NTEXT,
@FECHA_COTIZACION                    DATETIME
AS
DECLARE @TIPO VARCHAR(10)
DECLARE @CV   VARCHAR(10)
DECLARE @ABR   VARCHAR(4)
DECLARE @CODIGO_GENERADO VARCHAR(30)

IF EXISTS(select ID_COTIZACION from OPE_COTIZACION_VENTA
          where
          ID_COTIZACION = @ID_COTIZACION) AND @VERSION='0'
     BEGIN
       --Update existing row
       UPDATE OPE_COTIZACION_VENTA
       SET
          CODIGO_VENDEDOR = @CODIGO_VENDEDOR,
          CODIGO_VENDEDOR_ASIGNADO = @CODIGO_VENDEDOR_ASIGNADO,
          CODIGO_CPAGO = @CODIGO_CPAGO,
          CODIGO_MONEDA = @CODIGO_MONEDA,
          NUMERO_OCLIENTE = @NUMERO_OCLIENTE,
          IMPORTE_STOT = @IMPORTE_STOT,
          IMPORTE_DESCUENTO = @IMPORTE_DESCUENTO,
          VALOR_VENTA = @VALOR_VENTA,
          IMPORTE_IGV = @IMPORTE_IGV,
          IMPORTE_TOTAL = @IMPORTE_TOTAL,
          PORCENTAJE_DESCUENTO = @PORCENTAJE_DESCUENTO,
          PORCENTAJE_IGV = @PORCENTAJE_IGV,
          ID_CLIENTE = @ID_CLIENTE,
          ID_CLIENTE_FACTURA = @ID_CLIENTE_FACTURA,
          IMPORTE_ISC = @IMPORTE_ISC,
          CONTACTO = @CONTACTO,
          EMAIL_CONTACTO = @EMAIL_CONTACTO,
          USUARIO_MODIFICACION = @USUARIO,
          FECHA_MODIFICACION = GETDATE(),
          CODIGO_EMPRESA = @CODIGO_EMPRESA,
          TIPO_FECHA_ENTREGA = @TIPO_FECHA_ENTREGA,
          DIAS_ENTREGA = @DIAS_ENTREGA,
          FECHA_ENTREGA = @FECHA_ENTREGA,
          LUGAR_ENTREGA=@LUGAR_ENTREGA,
          COMISION=@COMISION,
          REDONDEO=@REDONDEO,
          VALIDEZ=@VALIDEZ,
          MOTIVO=@MOTIVO,
          CORRELATIVO=@CORRELATIVO,
          CENTRO_COSTO=@CENTRO_COSTO ,
          TIPO_CAMBIO =@TIPO_CAMBIO ,
          TELEFONOS=@REF1 ,
          OBSERVACION=@OBSERVACION,
          SUCURSAL=@SUCURSAL,
          TIPO_ENTREGA=@TIPO_ENTREGA ,
          DIAS_ENTREGA2=@DIAS_ENTREGA2,
          OBSERVACION2=@OBSERVACION2,
		  CODIGO_SUCURSAL=@CODIGO_SUCURSAL,
		  FECHA_COTIZACION =@FECHA_COTIZACION
       WHERE
          ID_COTIZACION = @ID_COTIZACION

     END
ELSE
     BEGIN
       --Insert new row
      
	  --SET @CV=ISNULL((SELECT REFERENCIA4  FROM OPE_PARAMETRO WHERE CODIGO ='TOPEXM'),'')

	  --IF @CV='' OR @CV='N'
	  --BEGIN
   --   SET @TIPO=ISNULL((SELECT ISNULL(REFERENCIA1,'')  FROM OPE_DETALLE_TABLA WHERE CODIGO='TIPO_COTI' AND NUMERO=@TIPO_COTI) ,'')
   --   IF @VERSION='0' AND @TIPO_OPERACION=1 AND @TIPO=''  -- GENERA 0000000001
     -- set @CODIGO_GENERADO=dbo.OPEFG_GENERA_CODIGO_TIPODOC('03',@CODIGO_EMPRESA)
	 set @TIPO_COTI='COT'
    --  IF @VERSION='0' AND @TIPO_OPERACION=1 AND @TIPO<>'' --GENERA COT2014-0000001
      set @CODIGO_GENERADO=dbo.OPEFG_GENERA_CODIGO_TIPODOC6('00','0',@CODIGO_EMPRESA,@TIPO_COTI)
      --IF @VERSION='1' AND @TIPO_OPERACION=1 AND @TIPO<>'' --GENERA COT2014-0000001
      --set @CODIGO_GENERADO=dbo.OPEFG_GENERA_CODIGO_TIPODOC6('00',@VERSION,@CODIGO_EMPRESA,@TIPO_COTI)
      --IF @VERSION='1' AND @TIPO_OPERACION=2 AND @TIPO<>'' --GENERA COT2014-0000001-1
      --set @CODIGO_GENERADO=RTRIM(dbo.OPEFG_GENERA_CODIGO_TIPODOC6('01',@NUMERO_COTIZACION,@CODIGO_EMPRESA,@TIPO_COTI))


     -- IF @VERSION='1' AND @TIPO_OPERACION=1 AND @TIPO='' -- GENERA COT0000001
     -- set @CODIGO_GENERADO=dbo.OPEFG_GENERA_CODIGO_TIPODOC5('00',@CODIGO_EMPRESA,@TIPO_COTI)
     -- IF @VERSION='1' AND @TIPO_OPERACION=2 AND @TIPO='' -- GENERA COT0000001-1 
     -- set @CODIGO_GENERADO=RTRIM(dbo.OPEFG_GENERA_CODIGO_TIPODOC4('01',@NUMERO_COTIZACION,@CODIGO_EMPRESA,@TIPO_COTI))
     -- ---OPEFG_GENERA_CODIGO_TIPODOC4
	    --IF @VERSION='0' AND @TIPO_OPERACION=9 AND @TIPO=''  -- GENERAR CON SERIE
     -- set @CODIGO_GENERADO=dbo.OPEFG_GENERA_CODIGO_TIPODOC_SERIE('0016',@TIPO_COTI,@CODIGO_EMPRESA)

	  --END 
	  --ELSE
	  --BEGIN


	  -- SET @ABR=(SELECT ABR FROM OPE_SUCURSAL WHERE CODIGO_SUCURSAL =@CODIGO_SUCURSAL)
	  --  SET @TIPO=ISNULL((SELECT ISNULL(REFERENCIA1,'')  FROM OPE_DETALLE_TABLA WHERE CODIGO='TIPO_COTI' AND NUMERO=@TIPO_COTI) ,'')

	  -- IF @VERSION='0' AND @TIPO_OPERACION=1 AND @TIPO<>'' --GENERA COT2014-0000001
   --       set @CODIGO_GENERADO=dbo.OPEFG_GENERA_CODIGO_TIPODOC7('00',@VERSION,@CODIGO_EMPRESA,@TIPO_COTI,@ABR)
   --    IF @VERSION='1' AND @TIPO_OPERACION=1 AND @TIPO<>'' --GENERA COT2014-0000001
   --       set @CODIGO_GENERADO=dbo.OPEFG_GENERA_CODIGO_TIPODOC7('00',@VERSION,@CODIGO_EMPRESA,@TIPO_COTI,@ABR)
   --    IF @VERSION='1' AND @TIPO_OPERACION=2 AND @TIPO<>'' --GENERA COT2014-0000001-1
   --       set @CODIGO_GENERADO=RTRIM(dbo.OPEFG_GENERA_CODIGO_TIPODOC7('01',@NUMERO_COTIZACION,@CODIGO_EMPRESA,@TIPO_COTI,@ABR))



	  --END





       INSERT INTO OPE_COTIZACION_VENTA(
          NUMERO_COTIZACION,
          CODIGO_VENDEDOR,
          CODIGO_VENDEDOR_ASIGNADO,
          CODIGO_CPAGO,
          CODIGO_MONEDA,
          FECHA_COTIZACION,
          NUMERO_OCLIENTE,
          IMPORTE_STOT,
          IMPORTE_DESCUENTO,
          VALOR_VENTA,
          IMPORTE_IGV,
          IMPORTE_TOTAL,
          PORCENTAJE_DESCUENTO,
          PORCENTAJE_IGV,
          ID_CLIENTE,
          ID_CLIENTE_FACTURA,
          IMPORTE_ISC,
          CONTACTO,
          EMAIL_CONTACTO,
          USUARIO_CREACION,
          FECHA_CREACION,
          CODIGO_EMPRESA,
          CODIGO_SUCURSAL,
          TIPO_FECHA_ENTREGA,
          DIAS_ENTREGA,
          FECHA_ENTREGA,
          LUGAR_ENTREGA,
          ESTADO,
          COMISION,
          REDONDEO,
          VALIDEZ  ,
          MOTIVO ,
          CORRELATIVO,
          CENTRO_COSTO  ,
          TIPO_CAMBIO , 
          ID_COTIZACION_PARENT  ,
          TELEFONOS,OBSERVACION,
          SUCURSAL,
          TIPO_ENTREGA,
          DIAS_ENTREGA2,OBSERVACION2
)
       VALUES(
          @CODIGO_GENERADO,
          @CODIGO_VENDEDOR,
          @CODIGO_VENDEDOR_ASIGNADO,
          @CODIGO_CPAGO,
          @CODIGO_MONEDA,
          @FECHA_COTIZACION , --- CONVERT(CHAR(10),getdate(),103),
          @NUMERO_OCLIENTE,
          @IMPORTE_STOT,
          @IMPORTE_DESCUENTO,
          @VALOR_VENTA,
          @IMPORTE_IGV,
          @IMPORTE_TOTAL,
          @PORCENTAJE_DESCUENTO,
          @PORCENTAJE_IGV,
          @ID_CLIENTE,
          @ID_CLIENTE_FACTURA,
          @IMPORTE_ISC,
          @CONTACTO,
          @EMAIL_CONTACTO,
          @USUARIO,
          getdate(),        
          @CODIGO_EMPRESA,
          @CODIGO_SUCURSAL,
          @TIPO_FECHA_ENTREGA,
          @DIAS_ENTREGA,
          @FECHA_ENTREGA,
          @LUGAR_ENTREGA,
          '0001',
          @COMISION ,
          @REDONDEO,
          @VALIDEZ,
          @MOTIVO,
          @CORRELATIVO,
          @CENTRO_COSTO  ,
          @TIPO_CAMBIO  ,
          @ID_COTIZACION_PARENT,
          @REF1,@OBSERVACION,@SUCURSAL,@TIPO_ENTREGA,@DIAS_ENTREGA2,@OBSERVACION2
)


       SELECT @@identity
 
     END































GO
/****** Object:  StoredProcedure [dbo].[InsertDetalleCotizacionVenta]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[InsertDetalleCotizacionVenta]
@ID_COTIZACION                       numeric(10),
@ID_PRODUCTO                         numeric(10),
@CANTIDAD                            numeric(14,4),
@PRECIO                              numeric(18,10),
@DESCUENTO                           numeric(7,2),
@IGV                                 numeric(14,4),
@IMPORTE                             numeric(14,4),
@OBSERVACION                         ntext,
@SECUENCIA                           numeric(6),
@PRECIO_ORIGINAL                     numeric(18,10),
@TIPO                                varchar(5),--'1'
@IMPORTE_DSCTO                       numeric(14,4),
@COMISION                            numeric(7,2),
@AFECTO_IGV                          char(1),
@ID_PRESUPUESTO                      NUMERIC(10),
@CDG_SERV                            varchar(10),
@OBSERVACION2                         ntext,
@UNIDAD                              varchar(10)
AS

     BEGIN
       --Insert new row
       INSERT INTO OPE_DETALLE_COTIZACION(
          ID_COTIZACION,
          ID_PRODUCTO,
          CANTIDAD,
          PRECIO,
          DESCUENTO,
          IGV,
          IMPORTE,
          OBSERVACION,
          SECUENCIA,
          PRECIO_ORIGINAL,
          TIPO,
          IMPORTE_DSCTO,
          AFECTO_IGV,
          COMISION,
          ID_PRESUPUESTO,
          CDG_SERV ,OBSERVACION2,UNIDAD
)
       VALUES(
          @ID_COTIZACION,
          @ID_PRODUCTO,
          @CANTIDAD,
          @PRECIO,
          @DESCUENTO,
          @IGV,
          @IMPORTE,
          @OBSERVACION,
          @SECUENCIA,
          @PRECIO_ORIGINAL,
          @TIPO,
          @IMPORTE_DSCTO,
          @AFECTO_IGV,
          @COMISION ,
          @ID_PRESUPUESTO , 
          @CDG_SERV,@OBSERVACION2,@UNIDAD
)

   
     END

































GO
/****** Object:  StoredProcedure [dbo].[InsertDetallePedido]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE       PROCEDURE [dbo].[InsertDetallePedido]
@ID_PRODUCTO                         numeric(10),
@ID_PEDIDO                           numeric(10),
@CANTIDAD                            numeric(14,4),
@PRECIO                              numeric(18,10),
@DESCUENTO                           numeric(14,4),
@IGV                                 numeric(14,4),
@IMPORTE                             numeric(14,4),
@CANT_DESPACHADA                     numeric(14,4),
@CANT_FACTURADA                      numeric(14,4),
@OBSERVACION                         varCHAR(3000),
@SECUENCIA                           numeric(6),
@PRECIO_ORIGINAL                     numeric(18,10),
@TIPO                                varCHAR(5), 
@IMPORTE_DSCTO                       numeric(14,4),
@COMISION                            numeric(7,2),
@AFECTO_IGV                          CHAR(1),
@ID_PRESUPUESTO                      numeric(10),
@UNIDAD                              varCHAR(10),
@FACTOR_CONVERSION                   numeric(14,4),
@SWT_PIGV                            CHAR(1),
@SWT_PROM                            CHAR(1), 
@CANT_KIT                            numeric(14,4),
@SWT_DCOM                            CHAR(1),
@SWT_SABOR                           CHAR(1), 
@SWT_FREE                            CHAR(1),  
@POR_DETRACCION                      numeric(14,4),
@DETRACCION                          numeric(14,4) 

AS

     BEGIN
       --Insert new row
       INSERT INTO OPE_DETALLE_PEDIDO(
          ID_PEDIDO,
          ID_PRODUCTO,
          CANTIDAD,
          PRECIO,
          DESCUENTO,
          IGV,
          IMPORTE,
          CANT_DESPACHADA,
          CANT_FACTURADA,
          OBSERVACION,
          SECUENCIA,
          PRECIO_ORIGINAL,
          TIPO,
          IMPORTE_DSCTO ,
          AFECTO_IGV,
          COMISION,
          ID_PRESUPUESTO,UNIDAD,
		  FACTOR_CONVERSION  ,
		  SWT_PIGV  ,
		  SWT_PROM  , 
			CANT_KIT  ,
			SWT_DCOM  , 
			SWT_SABOR  , 
			SWT_FREE   ,  
			POR_DETRACCION  ,
			DETRACCION   

)
       VALUES(
          @ID_PEDIDO,
          @ID_PRODUCTO,
          @CANTIDAD,
          @PRECIO,
          @DESCUENTO,
          @IGV,
          @IMPORTE,
          @CANT_DESPACHADA,
          @CANT_FACTURADA,
          @OBSERVACION,
          @SECUENCIA,
          @PRECIO_ORIGINAL,
          @TIPO,
          @IMPORTE_DSCTO,
          @AFECTO_IGV,
          @COMISION,
          @ID_PRESUPUESTO ,@UNIDAD , @FACTOR_CONVERSION  ,
		  @SWT_PIGV  ,
		  @SWT_PROM  , 
			@CANT_KIT  ,
			@SWT_DCOM  , 
			@SWT_SABOR  , 
			@SWT_FREE   ,  
			@POR_DETRACCION  ,
			@DETRACCION   

)
 

     END

































GO
/****** Object:  StoredProcedure [dbo].[InsertPedidoVenta]    Script Date: 26/06/2021 23:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE        PROCEDURE  [dbo].[InsertPedidoVenta]
@ID_PEDIDO                           numeric(10),
@NUMERO_PEDIDO                       varchar(15),
@CODIGO_VENDEDOR                     varchar(10),
@CODIGO_CPAGO                        varchar(10),
@CODIGO_MONEDA                       varchar(10),
@FECHA_PEDIDO                        datetime,
@NUMERO_OCLIENTE                     varchar(500),
@IMPORTE_STOT                        numeric(14,4),
@IMPORTE_IGV                         numeric(14,4),
@IMPORTE_DESCUENTO                   numeric(14,4),
@IMPORTE_TOTAL                       numeric(14,4),
@PORCENTAJE_DESCUENTO                numeric(7,2),
@PORCENTAJE_IGV                      numeric(7,2),
@OBSERVACION                         varchar(3000),
@ESTADO                              varchar(4),
@ID_CLIENTE                          numeric(10),
@IMPORTE_ISC                         numeric(14,4),
@VALOR_VENTA                         numeric(14,4),
@ID_CLIENTE_FACTURA                  numeric(10),
@CODIGO_VENDEDOR_ASIGNADO            varchar(10),
@FECHA_PROGRAMADA                    datetime,
@CONTACTO                            varchar(150),
@EMAIL_CONTACTO                      varchar(150),
@LUGAR_ENTREGA                       varchar(200),
@FACTURA_ADELANTADA                  char(1), 
@ID_COTIZACION                       NUMERIC(10), 
@CODIGO_EMPRESA                      VARCHAR(5),
@CODIGO_SUCURSAL                     VARCHAR(5),
@USUARIO                             varchar(20),
@COMISION                            numeric(7,2),
@PUNTO_VENTA                         char(1), 
@REDONDEO                            CHAR(1),
@VALIDEZ                             VARCHAR(5),
@MOTIVO                              VARCHAR(5),
@CORRELATIVO                         VARchar(30),
@CENTRO_COSTO                        VARchar(100),
@TIPO_CAMBIO                         NUMERIC(14,4),
@SUCURSAL                            VARCHAR(200),
@SERIE                               VARCHAR(10)
AS

DECLARE @COD_GENERADO  VARCHAR(15)


IF EXISTS(select ID_PEDIDO from OPE_PEDIDO
          where
          ID_PEDIDO = @ID_PEDIDO)
     BEGIN
       --Update existing row
       UPDATE OPE_PEDIDO
       SET
          CODIGO_VENDEDOR = @CODIGO_VENDEDOR,
          CODIGO_CPAGO = @CODIGO_CPAGO,
          CODIGO_MONEDA = @CODIGO_MONEDA,
          NUMERO_OCLIENTE = @NUMERO_OCLIENTE,
          IMPORTE_STOT = @IMPORTE_STOT,
          IMPORTE_IGV = @IMPORTE_IGV,
          IMPORTE_DESCUENTO = @IMPORTE_DESCUENTO,
          IMPORTE_TOTAL = @IMPORTE_TOTAL,
          PORCENTAJE_DESCUENTO = @PORCENTAJE_DESCUENTO,
          PORCENTAJE_IGV = @PORCENTAJE_IGV,
          OBSERVACION = @OBSERVACION,
          ID_CLIENTE = @ID_CLIENTE,
          IMPORTE_ISC = @IMPORTE_ISC,
          USUARIO_MODIFICACION = @USUARIO,
          FECHA_MODIFICACION= GETDATE(),
          VALOR_VENTA=@VALOR_VENTA,
          ID_CLIENTE_FACTURA=@ID_CLIENTE_FACTURA,
          CODIGO_VENDEDOR_ASIGNADO=@CODIGO_VENDEDOR_ASIGNADO,
          FECHA_PROGRAMADA=@FECHA_PROGRAMADA,
          FACTURA_ADELANTADA=@FACTURA_ADELANTADA,
          CONTACTO=@CONTACTO,
          EMAIL_CONTACTO=@EMAIL_CONTACTO,
          LUGAR_ENTREGA=@LUGAR_ENTREGA,
          COMISION=@COMISION,
          REDONDEO=@REDONDEO,
          VALIDEZ=@VALIDEZ,
          MOTIVO=@MOTIVO ,
           CORRELATIVO=@CORRELATIVO,
          CENTRO_COSTO=@CENTRO_COSTO ,
          TIPO_CAMBIO=@TIPO_CAMBIO,
          SUCURSAL=@SUCURSAL 
       WHERE
          ID_PEDIDO = @ID_PEDIDO
 
          SELECT @ID_PEDIDO 


     END
ELSE
     BEGIN
       --Insert new row

	 
	      SET @COD_GENERADO=DBO.OPEFG_GENERA_CODIGO_TIPODOC2('01',@CODIGO_EMPRESA,@SERIE) 
	 
 

       INSERT INTO OPE_PEDIDO(
          NUMERO_PEDIDO,
          CODIGO_VENDEDOR,
          CODIGO_CPAGO,
          CODIGO_MONEDA,
          FECHA_PEDIDO,
          NUMERO_OCLIENTE,
          IMPORTE_STOT,
          IMPORTE_IGV,
          IMPORTE_DESCUENTO,
          IMPORTE_TOTAL,
          PORCENTAJE_DESCUENTO,
          PORCENTAJE_IGV,
          OBSERVACION,
          ESTADO,
          ID_CLIENTE,
          IMPORTE_ISC,
          USUARIO_CREACION,
          FECHA_CREACION,
          CODIGO_EMPRESA,
          CODIGO_SUCURSAL,
          VALOR_VENTA,
          ID_CLIENTE_FACTURA,
          CODIGO_VENDEDOR_ASIGNADO,
          FECHA_PROGRAMADA,
          FACTURA_ADELANTADA,
          CONTACTO,
          EMAIL_CONTACTO,
          LUGAR_ENTREGA ,
          ID_COTIZACION,
          COMISION,
          PUNTO_VENTA,
          REDONDEO,
          VALIDEZ,
          MOTIVO  ,
           CORRELATIVO,
          CENTRO_COSTO  ,
          TIPO_CAMBIO,SUCURSAL
)
       VALUES(
          @COD_GENERADO,
          @CODIGO_VENDEDOR,
          @CODIGO_CPAGO,
          @CODIGO_MONEDA,
          @FECHA_PEDIDO,
          @NUMERO_OCLIENTE,
          @IMPORTE_STOT,
          @IMPORTE_IGV,
          @IMPORTE_DESCUENTO,
          @IMPORTE_TOTAL,
          @PORCENTAJE_DESCUENTO,
          @PORCENTAJE_IGV,
          @OBSERVACION,
          @ESTADO,
          @ID_CLIENTE,
          @IMPORTE_ISC,
          @USUARIO,
          GETDATE(),
          @CODIGO_EMPRESA,
          @CODIGO_SUCURSAL,
          @VALOR_VENTA,
          @ID_CLIENTE_FACTURA,
          @CODIGO_VENDEDOR_ASIGNADO,
          @FECHA_PROGRAMADA,
          @FACTURA_ADELANTADA,
          @CONTACTO,
          @EMAIL_CONTACTO,
          @LUGAR_ENTREGA ,
          @ID_COTIZACION ,
          @COMISION ,
          @PUNTO_VENTA,
          @REDONDEO,
          @VALIDEZ,
          @MOTIVO ,
          @CORRELATIVO,
          @CENTRO_COSTO  ,
          @TIPO_CAMBIO,@SUCURSAL
      )

	     SELECT @@IDENTITY 
   

     END




     






















GO




/****** Object:  StoredProcedure [dbo].[GET_EXIST_CLIENT]    Script Date: 01/08/2021 11:12:41 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[GET_EXIST_CLIENT]
@RUC VARCHAR(20),
@TIPO_PERSONA VARCHAR(4)
AS 
SELECT "RUC", "NOMBRE" FROM "OPE_PERSONA" WHERE "RUC" = @RUC AND "TIPO_PERSONA" = @TIPO_PERSONA
GO
